In [1]:
import pandas as pd

In [3]:
#A one-dimensional array
s = pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd'])

In [5]:
#A two-dimensional array
data = {'Country': ['Belgium',  'India',  'Brazil'],
        'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
        'Population': [11190846, 1303171035, 207847528]} 

df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])

In [7]:
#Read and Write to CSV
pd.read_csv('file.csv', header=None, nrows=5)
df.to_csv('myDataFrame.csv')

In [8]:
#Read and Write to Excel
pd.read_excel('file.xlsx')
df.to_excel('dir/myDataFrame.xlsx',  sheet_name='Sheet1')

In [9]:
#Retrieving Series/DataFrame Information

In [10]:
df.shape

(3, 3)

In [11]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
df.columns

Index(['Country', 'Capital', 'Population'], dtype='object')

In [13]:
df.info

<bound method DataFrame.info of    Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528>

In [14]:
df.count

<bound method DataFrame.count of    Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528>

In [15]:
df.sum

<bound method DataFrame.sum of    Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528>

In [16]:
df.cumsum()

              Country                    Capital  Population
0             Belgium                   Brussels    11190846
1        BelgiumIndia          BrusselsNew Delhi  1314361881
2  BelgiumIndiaBrazil  BrusselsNew DelhiBrasilia  1522209409

In [18]:
#Minimum/maximum values
df.min()/df.max()

In [20]:
#Minimum/Maximum index value
df.idxmin()/df.idxmax()

In [21]:
#Summary statistics
df.describe()

         Population
count  3.000000e+00
mean   5.074031e+08
std    6.961346e+08
min    1.119085e+07
25%    1.095192e+08
50%    2.078475e+08
75%    7.555093e+08
max    1.303171e+09

In [22]:
#Mean of values
df.mean

<bound method DataFrame.mean of    Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528>

In [23]:
#Median of values
df.median

<bound method DataFrame.median of    Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528>

In [25]:
#Applying Functions

In [24]:
f = lambda x: x*2

In [26]:
#Apply Function
df.apply(f)

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasiliaBrasilia   415695056

In [28]:
#Apply function element-wise
df.applynap(f)

In [29]:
#Internal Data Alignment

In [30]:
s3 = pd.Series([7, -2, 3],  index=['a',  'c',  'd'])
s+s3

a    10.0
b     NaN
c     5.0
d     7.0
dtype: float64

In [31]:
#Arithmetic Operations with Fill Methods

In [32]:
s.add(s3, fill_value=0)

a    10.0
b    -5.0
c     5.0
d     7.0
dtype: float64

In [33]:
s.sub(s3, fill_value=2)
s.div(s3, fill_value=4)
s.mul(s3, fill_value=3)

a    21.0
b   -15.0
c   -14.0
d    12.0
dtype: float64